.header {
  background-color: #fff;
  border-bottom: 1px solid #ececec;
  position: relative;
  &__container {
    @media screen and(min-width: 768px) {
      display: flex;
      align-items: center;
    }
  }
  &__logo {
    padding-top: 16px;
    padding-bottom: 16px;
    color: var(--logo-color);

    @media screen and(min-width: 768px) {
      padding-top: 26px;
      padding-bottom: 26px;
      margin-right: 87px;
    }
    @media screen and(min-width: 1200px) {
      margin-right: 92px;
      padding-top: 24px;
      padding-bottom: 25px;
    }
  }
  &__menu {
    display: none;
    position: absolute;
    background-color: var(--tertiary-text-color);
    width: 100%;
    height: 796px;
    padding-left: 40px;
    padding-bottom: 48px;
    padding: 48px 0 48px 40px;
    top: 0;
    left: 0;
    &.is-open {
      display: block;
      @media screen and(min-width:768px) {
        display: flex;
        align-items: center;
      }
    }
    @media screen and(min-width:768px) {
      position: static;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      background-color: transparent;
      padding: 0;
    }
  }
  &-nav {
    margin-bottom: 302px;

    @media screen and(min-width:768px) {
      margin-bottom: 0;
    }
  }
  &-nav__list {
    @media screen and(min-width:768px) {
      display: flex;
    }

  }

  &-nav__item:not(:last-child) {
    margin-bottom: 35px;

    @media screen and(min-width:768px) {
      margin-bottom: 0;
      margin-right: 50px;
    }
  }
  

  &-nav__link {
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    @media screen and(min-width:768px) {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      padding-top: 32px;
      padding-bottom: 32px;
      position: relative;
   
      &::after {
        content: "";
  
        position: absolute;
        left: 0;
        bottom: 0;
  
        display: block;
        width: 100%;
        height: 4px;
        background: #2196f3;
        border-radius: 2px;
  
        transform: scaleX(0);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      &:hover::after {
        transform: scaleX(1);
      }
  

    }
   
  }
  &-address__list {
    margin-bottom: 64px;

    @media screen and(min-width:768px) {
      margin-bottom: 0;
      margin-left: 96px;
    }
    @media screen and(min-width: 1200px) {
display: flex;
margin-left: 315px;
    }
  }
  &-address__item{
    @media screen and(min-width:768px) {

    }
  }
  &-address__item:not(:last-child) {
    margin-bottom: 32px;
    @media screen and(min-width:768px) {
      margin-bottom: 10px;
    }
    @media screen and(min-width: 1200px) {
margin-bottom: 0;
margin-right: 30px;
    }
  }
  &-address__link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    text-decoration: none;

    @media screen and(min-width:768px) {
      font-weight: 500;
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.02em;
      display: flex;
      align-items: center;

    }
    @media screen and(min-width:1200px) {
      padding-top: 32px;
      padding-bottom: 32px;
    }
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  &-address__link.phone {
    font-size: 34px;
    line-height: 40px;
    @media screen and(min-width:768px) {
      font-weight: 500;
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.02em;
      display: flex;
      align-items: center;
    }
    @media screen and(min-width:1200px) {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
  &-address__icon {
    display: none;
    @media screen and(min-width:768px) {
      display: block;
    margin-right: 8px;
    fill: currentColor;
    &:hover,
    &:focus{
      fill: var(--accent-color);
    }
  }
  @media screen and(min-width:1200px){
    margin-right: 10px;
  }
  }

  &-social__list {
    display: flex;
    @media screen and(min-width:768px) {
      display: none;
    }
  }
  &-social__item:not(:last-child) {
    margin-right: 20px;
    position: relative;

    &::after {
      content: "";
      display: block;
      top: 0;
      right: -10px;
      width: 1px;
      height: 22px;
      background-color: rgba(33, 33, 33, 0.2);
      position: absolute;
    }
  }
  &-social__link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--secondary-text-color);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

.menu-button {
  display: inline-flex;
  position: absolute;
  right: 15px;
  top: 10px;

  @media screen and(min-width:768px) {
    display: none;
  }
}
.js-close-menu{
  position: absolute;
  top: 10px;
  right: 15px;
}
}
.icon-close{
  width: 40px;
  height: 40px;
  position: absolute;
  @media screen and(min-width:768px) {
    display: none;
  }
}
.icon-open{
  width: 40px;
  height: 40px;   

}
.menu-button:hover,.menu-button:focus .icon-open{
  fill: var(--accent-color);
}
.menu-button:hover,.menu-button:focus .icon-close{
  fill: var(--accent-color);
}


// .menu-button:hover .icon-close,
// .menu-button:focus .icon-close{
// fill: var(--accent-color);
// }
// .menu-button:hover .icon-open,
// .menu-button:focus .icon-open{
// color: var(--accent-color);
// }

// .menu-button .icon-close {
//   display: none;
// }
// .js-open-menu.is-open .icon-close {
//   display: block;
// }
// .js-open-menu.is-open .icon-open {
//   display: none;
// }
// .curent {
//   color: var(--accent-color);
// }

// .header {
//   background-color: #fff;
//   border-bottom: 1px solid #ececec;
//   &__container {
//     display: flex;
//     align-items: center;
//   }
//   &-nav {
//     display: flex;
//     align-items: center;
//   }
//   &__logo{
//     margin-right: 93px;
//     padding-top: 24px;
//     padding-bottom: 25px;
//     color: var(--logo-color);
//   }
//   &-nav__list {
//     display: flex;
//   }
//   &-nav__item:not(:first-child) {
//     margin-left: 50px;
//   }
//   &-nav__link {
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     position: relative;

//     color: var(--primary-text-color);
//     font-size: 14px;
//     font-weight: 500;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     text-decoration: none;

//     padding-top: 32px;
//     padding-bottom: 32px;
//     display: block;
//     &:hover,
//     &:focus{
//       color: var(--accent-color);
//     }
//     &::after {
//       content: "";

//       position: absolute;
//       left: 0;
//       bottom: 0;

//       display: block;
//       width: 100%;
//       height: 4px;
//       background: #2196f3;
//       border-radius: 2px;

//       transform: scaleX(0);
//       transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }
//     &:hover::after {
//       transform: scaleX(1);
//     }
//   }
//   &-address__list {
//     display: inline-block;
//     display: flex;
//     margin-left: auto;
//   }
//   &-address__item {
//     min-width: 135px;
//     min-height: 16px;
//     &:not(:first-child) {
//       margin-left: 50px;
//     }
//   }

//   &-address__link {
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     color: var(--secondary-text-color);
//     font-size: 14px;
//     font-weight: 500;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     text-decoration: none;

//     align-items: center;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     display: flex;
//     &:focus,
//     &:hover{
//       color: var(--accent-color);
//     }
//   }

//   &-address__icon {
//     margin-right: 10px;
//     fill: currentColor;
//     &:hover,
//     &:focus{
//       fill: var(--accent-color);
//     }
//   }
// }
//   .curent {
//     color: var(--accent-color);
//   }
